<!DOCTYPE HTML>
<!--
	Launcher by freehtml5.co
	Twitter: http://twitter.com/fh5co
	URL: http://freehtml5.co
-->
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Launcher &mdash; Free Website Template, Free HTML5 Template by FreeHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<!-- Modernizr JS -->
	<script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
	<![endif]-->

	</head>
	<body>
	<div class="fh5co-loader"></div>

	<aside id="fh5co-aside" role="sidebar" class="text-center" style="background-image: url('{{ url_for('static', filename='images/img_bg_1_gradient.jpg') }}');">
		<h1 id="fh5co-logo"><a href="index.html">Free QR Code Generator</a></h1>
	</aside>

	<div id="fh5co-main-content">
		<div class="dt js-dt">
			<div class="dtc js-dtc">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-lg-7">
								<div class="fh5co-intro animate-box">
									<h2>Free QRCode Generator</h2>
									<p>Did you know that QR Codes were invented 30 years ago?

And yet, today, there are companies charging monthly fees for a service that you can build in under 10 minutes using ChatGPT and a few lines of code. 🤯

I just created a simple script that generates QR Codes from any link—took me less than 10 minutes using ChatGPT. If you're curious, I’m happy to share the code.

Let’s stop overpaying for simple tools and start using knowledge + AI to save time and money. 💡

If you liked this tip and want to support my work, feel free to buy me a coffee ☕ — it's always appreciated! 🙌</p>
								</div>
							</div>
							
							<div class="col-lg-7 animate-box">
								<form method="POST" action="/" id="fh5co-subscribe">
									<div class="form-group">
									<input type="text" class="form-control" name="url" placeholder="Enter URL to generate QR Code" required>
									<input type="submit" value="Generate QR Code" class="btn btn-primary">
									</div>
								</form>
								{% if qr_image %}
									<div class="qr-result">
									<h2><p>Generated</p>
										<p>QR Code</p></h2>
									<img src="{{ url_for('static', filename=qr_image) }}" alt="QR Code" style="max-width: 200px; margin-top: 20px;">
									</div>
								{% endif %}
								</div>
						</div>
					</div>
				</div>
					
			</div>
		</div>

		<div id="fh5co-footer">
			<div class="row">
				<div class="col-md-6">
					<ul id="fh5co-social">
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-instagram"></i></a></li>
						<li><a href="#"><i class="icon-google-plus"></i></a></li>
						<li><a href="#"><i class="icon-pinterest-square"></i></a></li>
					</ul>
				</div>
				<div class="col-md-6 fh5co-copyright">
					<p>Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com" target="_blank">Unsplash</a></p>
				</div>
			</div>
		</div>
		
	</div>
	
	<!-- jQuery -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
	<!-- Count Down -->
	<script src="{{ url_for('static', filename='js/simplyCountdown.js') }}"></script>
	<!-- Main -->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>

